/*formatando a zero a page
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

body{
   
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(imh.gif);
    background-size: cover;
    color: #fff; /* Cor do texto */
    height: 100vh; /* Para ocupar toda a altura da tela */

    /* Centralizando os itens */
    display: flex;
    justify-content: center;
    align-items: center;
}



/*estilizando o container(fazendo o quadrado central */
.container{
    /*colocar o fadding*/
    background-color: #f0f0f0cc;
    box-shadow: 8px 8px 16px #d0d0d0,
            -8px -8px 16px #ffffff;
    width: 90%;
    max-width: 800px;
  /*  border: 2px solid #54547c;*/
    border-radius: 6px;
    /*colocando distancia interior, entre elementos e a borda*/
    padding: 16px;

    /*centralizando os elementos de dentro*/
    display: flex;
    flex-direction: column;/*deixa quatro botoes em cima e dois embaixo*/
    justify-content: center;
    align-items: center;
}


.questions-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;/*espacamento entre elementos*/
}
/*estilizando os textos de perguntas*/
.question{
    font-size: 24px;
    color: #161630;
    font-weight: bold;
    text-align: center;
}

/*estilizando as respostas dos botoes*/
.answers-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  .next-question{
    margin-top: 32px;
  }

  .button{
    background-color: #f0f0f0;
    box-shadow: 8px 8px 16px #d0d0d02a,
                -8px -8px 16px #79616181;
    color: #242466;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    border-radius: 6px;
    height: 48px;
    padding: 0 32px;
    /*adcionando transicao do efeito transition filter*/
    transition: filter 0.5s;
  }

  .button:not(:disable):hover{
    filter: brightness(0.8);
  }

  /*configurando a classe hide, ou seja, os itens que irao ser "escondidos" no html"
     <button class="next-question button hide">Próxima pergunta</button>
     <div class="questions-container hide">*/

.answer:disabled{
    cursor: not-allowed;
}
  .hide{
    display: none;
 }

 .correct{
    background-color: #39d7ff;
 }

 .incorrect{
    background-color: #362e2f;
    color: #6e6768;
 }

.final-message{
    color: #232356;

}
.final-message span{
    display: block;
    margin-top: 8px;
}